*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.mtj.tmp/

hs_err_pid*

.idea/
.gradle/
./idea/gradle

**/build
**/bin
**/out
**/.project
**/.settings
**/.classpath
**/.iml
*.iml
transaction-logs/**